<footer id="contact" class="bg-black text-white py-20">

        <div class="max-w-7xl mx-auto px-6 grid sm:grid-cols-2 lg:grid-cols-4 gap-12">

            <div>

                <img src="images/logo/Florist logo.png" class="w-32 mb-6" alt="Flower Shop Logo">

                <p class="text-gray-400 leading-relaxed">
                    Beautiful handcrafted flower bouquets designed with elegance,
                    freshness, and love.
                </p>

            </div>

            <div>

                <h3 class="text-xl font-semibold mb-6">
                    Quick Links
                </h3>

                <ul class="space-y-4 text-gray-400">

                    <li>
                        <a href="#" class="nav-link hover:text-pink-500">
                            Home
                        </a>
                    </li>

                    <li>
                        <a href="shop" class="nav-link hover:text-pink-500">
                            Shop
                        </a>
                    </li>
                    <li>
                        <a href="blog" class="nav-link hover:text-pink-500">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-6">
                    Support
                </h3>
                <ul class="space-y-4 text-gray-400">
                    <li>
                        <a href="#" class="nav-link hover:text-pink-500">Help Center</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link hover:text-pink-500">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link hover:text-pink-500">
                            Terms & Conditions
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h3 class="text-xl font-semibold mb-6">
                    Contact
                </h3>
                <ul class="space-y-4 text-gray-400">
                    <li>Colombo, Sri Lanka</li>
                    <li>+94 77 123 4567</li>
                    <li>flowershop@email.com</li>
                </ul>
            </div>
        </div>

        <div class="border-t border-gray-800 mt-14 pt-8 text-center text-gray-500 text-sm">
            © 2026 Flower Shop. All Rights Reserved.
        </div>
    </footer>